.container-item{
	display:flex;
	flex:1;
	min-height: 100vh;
	background:#D8E1E2;
	flex-direction:column;
}

.item-1{
	display:flex;
	flex:1;
	flex-direction:row;
}

.icon-text{
	display: flex;
	flex:1;
	text-align: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 20px;
	background-color: #d9edc2;
	border: 1px solid #b2ce96;
}

.item1{
	display: flex;
	flex:1;
	text-align: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 20px;
	background-color: #d9edc2;
	border: 1px solid #b2ce96; 
}

.item-2{
	display:flex;
	flex:2;
	flex-direction:row;
}

.item-21{
	display:flex;
	flex:2;
	flex-direction:column;
}

.item-211{
	display:flex;
	flex:1;
	flex-direction:row;
}

.item-212{
	display:flex;
	flex:1;
	flex-direction:row;
}

.item2{
	display: flex;
	flex:1;
	text-align: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 20px;
	background-color: #d9edc2;
	border: 1px solid #b2ce96;
}

.only-text{
	display: flex;
	flex:1;
	text-align: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 20px;
	background-color: #d9edc2;
	border: 1px solid #b2ce96;
}


.btn-item{
	display:flex;
	flex:1;
	align-items: center;
	justify-content: center;
	background:white;
}

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 120px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #1883ba;
    border-radius: 6px;
    cursor:pointer;
    border: 1px solid black;
 }

.btn:hover{
    background-color: #ffffff;
}

