.container-item{
	margin:100px;
	margin-left:300px;
	width: 830px;
	height: 400px;
	border-color:black;
	border-radius: 3px;
	background:#D8E1E2;
}

.item-1{
	display: flex;
	display: inline-flex;
}

.item1{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 40px;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	background:#AAC8CB; 
}

.item-2{
	display: flex;
	display: inline-block;
}

.item2{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 40px;
	height: 50px;
	width: 280px;
	border-radius: 5px;
	background:#AAC8CB;
}

.item-3{
	display: flex;
	display: inline-flex;
}

.item3{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 40px;
	height: 50px;
	width: 180px;
	border-radius: 5px;
	background:#AAC8CB;
}

.item-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	background:green;
	margin-left: 650px;
	margin-top:-140px;
	width:150px;
	height: 70px;
	border-radius: 3px;
}

.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height:30px; 
	width: 100px;
	background:#AAC8CB; 
	border-radius: 5px;
}


