.profile-container{
  	display: flex;
  	flex-grow:1;
  	min-height: 100vh;
  	justify-content: center;
  	align-items: center;
  	flex-direction:column;
}

.Personal-Data{
	display:flex;
	flex-grow: 1;
	flex-direction: column;
}

.camp-text1{
	display: flex;
	display: inline-block;
	flex-grow: 1;
	flex-direction: row;
}

.camp-text2{
	display: flex;
	display: inline-block;
	flex-grow: 1;
	flex-direction: row;
}

.Account-data{
	display: flex;
	display: inline-block;
	flex-grow: 1;
	flex-direction: row;
}

.list-profile{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.profile-btn{
  cursor:pointer;
  margin: 5px;
  height: 50px;
  width: 500px;
  text-decoration: none;
  padding: 10px;
  background-color:#4D90DA;
  font-weight: 600;
  font-size: 17px;
  color: #fff;
  border-radius: 6px;
  border: 2px solid ;
}

.profile-btn:hover,
.profile-btn:focus {
  background-color: #3E84D4;
}

.IconDelete{
	height: 20px;
}

.li-numeric{
	font-size: 13px;
}

.li-address{
	font-size: 13px;
}

.collapse{
	cursor:pointer;
}