.container-home{
	display: flex;
	flex:1;
	min-height: 100vh;
	flex-direction: column;
}

.home-1{
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}

.home-2{
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}

.home-3{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.btn-home{
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}

.btn-home{
	display:flex;
	flex:1;
	align-items: center;
	justify-content: center;
}

.home-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 350px;
	margin:5px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: black;
    background-color: #1883ba;
    border-radius: 6px;
    cursor:pointer;
    border: 1.5px solid #0016b0;
 }

.home-btn:hover{
    background-color: #ffffff;
}

.item2:hover{
    background-color: #ffffff;
}