.menu-container{
	display: flex;
	flex:1;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
}

.menu-btn{
	display:flex;
    justify-content:center;
    align-items: center;
	background:#28C7D7;
	margin:2px;
	height: 50px;
  	width: 250px;
	border-radius: 112px 0px 113px 0px;
	-moz-border-radius: 112px 0px 113px 0px;
	-webkit-border-radius: 112px 0px 113px 0px;
	border: 0px solid #000000;
}